General Principles
==================

There are a few principles that guide the technical development.


Simplicity
----------

To make sure we can keep innovating we need to make sure to everything we
implement is implemented as simple as possible.

The necessary complexities will be bad enough but we need to do our best 
to avoid unnecessary ones. This also means that sometimes we need to push 
back against UI improvements if added complexity



Extendability
-------------

Every part should be replaceable and ideally decorable



Isolation
---------

Components should fulfill the following requirements:

- Visual scale range (they should be displayable in a wde range of sizes)
- Self sufficiency (they should not be dependent on the context they are displayed in)
- They should have only a small amount of switches ( less than 5 )

