JWT_SECRET=xxx
EMAIL_CONFIG_HOST=mail.example.com
EMAIL_CONFIG_PORT=465
EMAIL_CONFIG_AUTH_USER=noreply@example.com
EMAIL_DEFAULT_FROM=noreply@example.com
EMAIL_CONFIG_AUTH_PASS=xxxxxxxxxxxxxxxxxxx
JAMS_LIVEKIT_API_KEY=APIxxxxxxxxxxxx
JAMS_LIVEKIT_API_SECRET=xxxxxxxxxxxxx
ORIGIN=https://localhost
 