Setup a Subscription Community
==============================

This a description how to set up a paid community. 

To make sure everything works it is best to first create a Stripe 
sandbox and sett everything up there. When the flow is tested and
works, transfer the setup to the Stripe production environment.


Step 0 - Setup Stripe Sandbox (optional)
----------------------------------------

- Go to stripe dashboard
- Click on switch sandbox
- Click on create sandbox


Step 1 - Setup Stripe
---------------------

### Step 1.1 Create subscription product in Stripe

- Go to the product catalog
- Add first product
- Use Electronically Supplied Services as tax code
- Set `recurring`
- Set `Billing period` to monthly
- Set desired price
- Note the product ID

### Step 1.4 (optional) Add additional billing periods

- Go to the product
- Add new price
  - Set `Billing period` to yearly
  - Set desired price
- Go to original price
  - Set `upsells to` new price

### Step 1.3 (optional) Create Coupon Codes for the product

- Go to production catalog
- Go to coupons
  - Create new coupon
  - Set couppn parameters
  - enable customer facing coupon Codes
  - Add parameters and name for coupon code
  - Create Coupon

### Step 1.4 Setup webhook destination in Stripe

Put Webhooks in the search field and click the first result

- Use `Your account`
- Activate all events for the following categories:
  - Checkout
  - Customer
  - Invoice
  - Payment Intent 
  Important: Don't activate any v2 webhooks
- Use destination type `Webhook endpoint`
- Choose a name for the webhook endpoint, eg. AllPeeP Webhook
- Set the webhook url to `https://<your allpeep domain>/api/openpeeps/core/v1/payments/webhook`
- Create webhook
- Note webhook signing secret

### Step 1.5

Note the Stripe publishable key and secret key for stripe

Step 2 - Setup AllPeeP
----------------------

- Login as owner
- Go to `/admin/configuration/server-settings`
- Go to `Payments > Stripe`
  - Insert publishableKey
  - Insert secretKey
  - Insert webhookSecret
- Go to `Payments > Stripe > PaidMembership`
  - Check the box for `enabled`
  - Insert the product ID
  - Set the trialPeriodDays to our liking


Done
----

Now everybody who signs in and everybody who wants to login 
and is not an owner will be redirected to the Stripe page to 
subscribe.
